.main {
  background: var(--pos-separators);
  padding: 1rem;
  flex: 1;
}

.chart__title {
  color: var(--pos-type-faded);
}

.text__value {
  font-size: 20px !important;
  font-weight: bold;
  line-height: 1 !important;
  color: var(--pos-type-dark) !important;
}
