.item {
  display: flex;
  align-items: center;
}

.item__section_container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.item__section_labels {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  flex: 1;
  max-width: 28vh;
  width: 100%;
}

.item__section_right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.item__title {
  font-size: 14px;
  color: var(--pos-type-dark);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__price {
  font-size: 14px;
  color: var(--pos-type-dark);
  font-weight: 500;
}

.quantity__container {
  margin-top: 4px;
  margin-bottom: 4px;
  border: solid 1px;
  border-color: var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
}

.quantity__buttons {
  color: black !important;
  border-radius: var(--mantine-radius-md) !important;

  &:hover {
    background-color: var(--mantine-color-gray-1) !important;
  }
}

.remove_icon {
  background-color: var(--pos-type-faded) !important;
}
