.main {
  display: flex;
  flex-direction: column;
  background: var(--pos-separators);
  flex: 1;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--mantine-spacing-md);
  align-items: center;
}

.row__action_icon {
  color: var(--pos-dark-type) !important;

  &:hover {
    background-color: var(--pos-highlight) !important;
  }
}
