.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
}

.container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04) !important;
}

.value {
  font-size: 24px !important;
  font-weight: bold;
  line-height: 1 !important;
  color: var(--pos-type-dark) !important;
}

.diff {
  display: flex;
  align-items: center;
  color: var(--pos-pop) !important;
}

.icon {
  color: var(--pos-type-dark);
}

.title {
  font-weight: 600 !important;
  color: var(--pos-type-dark) !important;
}
